@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}